<main class="wrapper h_420">
    <div class="base">
        <div class="section white_section_2">
            <div class="section_inner">
                <div class="section_content text_block"><a href="https://twitter.com/intent/tweet?text=Lisk%20has%20an%20awesome%20team%2C%20many%20contributors%20and%20great%20partnerships.%20Check%20it%20out%20on&amp;url=http://lisk.io/about" class="material-icons consensus_btn" target="_blank">share</a>
                    <div class="about_block">
                        <div class="section_caption text_gray">Lisk is the future and we are here to build it</div>
                        <p>The Lisk team truly epitomizes the spirit of open source development and public collaborations. Everyone can help out building Lisk, either by writing tutorials, cutting videos, promoting the platform, supporting the community, being a country correspondent or developing the core. Just get in contact with us!</p>
                        <p class="text_center text_center_mob btns_v1"><a href="https://chat.lisk.io/" class="btn_v2 fw_600 wide_btn tahiti_btn" target="_blank">Join our Chat</a><a href="https://forum.lisk.io" class="btn_v2 fw_600 wide_btn curious_btn" target="_blank">Our Forum</a><a href="#" class="btn_v2 fw_600 wide_btn white_btn" target="_blank">Bitcoin Talk</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section gray_section">
            <div class="section_content clearfix">
                <div class="section_caption text_gray text_center">Meet the Team behind Lisk</div>
                <!--<div class="slider_prev material-icons">chevron_left</div>
                <div class="slider_next material-icons">chevron_right</div>-->
                <div class="team_slider teamSlider">
                    <div class="team_slide">
                        <div class="team_slide_img"><img src="i/members/maxkordek.jpeg"></div>
                        <div class="team_slide_info">
                            <div class="team_slide_name">Max Kordek <a href="https://de.linkedin.com/in/maxkordek" class="team_share_link fa fa-linkedin"></a><a href="https://twitter.com/MaxKordek" class="team_share_link fa fa-twitter"></a></div>
                            <div class="team_slide_post">CHIEF EXECUTIVE OFFICER</div>
                            <p>Max is an electrical engineering student at the elite university Aachen in the morning and a crypto enthusiast the rest of the day. His journey into the cryptocurrency realm began with Litecoin and continued with Nxt. There he took over many organizational and promotional tasks. After that he joined Crypti and helped building it out into what it is today. His next goal is to make Lisk one of the leading dapp platforms.</p>
                        </div>
                    </div>
                    <div class="team_slide">
                        <div class="team_slide_img"><img src="i/members/olivierbeddows.jpeg"></div>
                        <div class="team_slide_info">
                            <div class="team_slide_name">Olivier Beddows <a href="https://www.linkedin.com/in/olivier-beddows-19aa09107" class="team_share_link fa fa-linkedin"></a><a href="https://twitter.com/Karmacrypto" class="team_share_link fa fa-twitter"></a></div>
                            <div class="team_slide_post">CHIEF TECHNOLOGY OFFICER</div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section white_section">
            <div class="section_inner">
                <div class="section_content clearfix">
                    <div class="section_caption text_gray text_center">Our great Advisors</div>
                    <ul class="team_list">
                        {{#each members}}
                        <li class="team_unit">
                            <figure class="employee_card">
                                <!--<div class="team_photo" ><img src="i/members/{{photo}}.jpeg" alt="{{name}}"></div>-->
                                <div class="team_photo" ><img src="i/about_1.png" alt="{{name}}"></div>
                                <figcaption class="employee_block">
                                    <div class="employee_info">
                                        <div class="employee_name">{{name}}</div>
                                        <div class="employee_post">{{post}}</div>
                                    </div>
                                    <div class="employee_contacts">{{#if linked}}<a href="{{linked}}" class="employee_contact_link fa fa-linkedin"></a>{{/if}}{{#if twitter}}<a href="{{twitter}}" class="employee_contact_link fa fa-twitter"></a>{{/if}}{{#if btt}}<a href="{{btt}}" class="employee_contact_link fa fa-bitcoin"></a>{{/if}}</div>
                                </figcaption>
                            </figure>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        <div class="section gray_section">
            <div class="section_inner">
                <div class="section_content text_block">
                    <div class="about_block fz_18">
                        <div class="section_caption text_gray">Country Correspondents</div>
                        <div class="text_block">
                            <p>Lisk has built up a team of country based correspondents to help spread the word about the power of the Lisk network. These roles typically include translations of relevant content, community organization, and the creation of small meetup groups. If you love Lisk and would like to be an ambassador for Lisk in your Country, please send a message to Max Kordek.</p>
                        </div>
                        <div class="country_correspondents">
                            {{#each correspondents}}
                            <div class="country_corr_block">
                                <div class="country_corr_country"><span class="country_corr_flag"><img src="i/flag_{{lang}}.png" alt="{{country}} Lisk Correspondent"></span><span>{{country}}</span></div>
                                <ul class="country_correspondents_list">
                                    <li class="country_corr">
                                        <div class="country_corr_name">{{name}}</div>
                                        <div class="country_corr_info">
                                            <div class="fl">
                                                <div class="country_corr_share">{{#if linked}}<a href="{{linked}}" class="corr_share_link fa fa-linkedin" target="_blank"></a>{{/if}}{{#if twitter}}<a href="{{twitter}}" class="corr_share_link fa fa-twitter" target="_blank"></a>{{/if}}{{#if btt}}<a href="{{btt}}" class="corr_share_link fa fa-bitcoin" target="_blank"></a>{{/if}}</div>
                                            </div>
                                            {{#if pm}}<div class="fr"><a href="{{pm}}" class="corr_share_link fa fa-envelope fa-blue" target="_blank"></a></div>{{/if}}
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section white_section">
            <div class="section_inner">
                <div class="section_content text_block">
                    <div class="about_block">
                        <div class="section_caption text_gray">From Crypti to Lisk</div>
                        <p>June 16th, 2014 it all began with Crypti and the Crypti Foundation. A founding team of 5 members set themselves the goal to develop a great cryptocurrency platform for decentralized applications and sidechains, they collected 750 BTC in their ICO and developed the platform for over one year. Max and Olivier were early members of the team and foundation. At the turn of the year 2016 ideologies were drifting apart and we decided to make our own platform called Lisk. It will be developed in a complete open source and public manner, and great collaborations with the Lisk community.</p>
                        <p class="text_center text_center_mob btns_v1"><a href="https://blog.lisk.io/history-of-lisk" class="btn_v2 fw_600 wide_btn tahiti_btn" target="_blank">History</a><a href="https://crypti.me/foundation" class="btn_v2 fw_600 wide_btn curious_btn" target="_blank">Crypti Team</a><a href="https://crypti.me/" class="btn_v2 fw_600 wide_btn white_btn" target="_blank">Crypti Website</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section gray_section">
            <div class="section_inner">
                <div class="section_content clearfix">
                    <div class="section_caption text_gray text_center">Partnerships</div>
                    <ul class="team_list">
                        {{#each partnerships}}
                        <li class="team_unit">
                            <figure class="employee_card">
                                <div class="team_photo" ><img src="i/{{logo}}.png" alt="{{name}}"></div>
                                <figcaption class="employee_block">
                                    <div class="employee_info">
                                        <div class="employee_name">{{name}}</div>
                                        <div class="employee_post">{{date}}</div>
                                    </div>
                                    <div class="employee_contacts"><a href="{{web}}" class="employee_contact_link fa fa-link"></a></div>
                                </figcaption>
                            </figure>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        {{> footer }}
    </div>
    <div class="hero_block text_center">
        <div class="abs_container">
            <div class="gl_table_cell">
                <div class="section_inner">
                    <h1 class="hero_title animated fadeInDown">The Team</h1>
                    <div class="hero_text animated fadeInDown">Building Lisk since 2016</div>
                </div>
            </div>
        </div>
        {{> menu }}
    </div>
</main>
