<main class="wrapper h_285">
    <div class="base">
        <div class="section white_section_2">
            <div class="section_inner">
                <div class="documentation_block">
                    {{{doc.content}}}

                    {{#if doc.next}}
                    <div class="documentation_controls">
                        <p><a>Next to read</a></p>
                        <p><a href="/documentation?i={{doc.next.i}}" class="new_acc_link"> <span>{{doc.next.title}}</span><span class="material-icons new_acc_icon">arrow_forward</span></a></p>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="footer_inner">
                <div class="footer_bottom">
                    <div class="logo_holder"><a href="https://lisk.io" class="logo_footer"><img src="i/logo.png"/></a></div>
                    <div class="copyright">Copyright © {{year}} Lisk. All rights reserved.</div>
                </div>
            </div>
        </footer>
    </div>
    <div class="doc_hero_block">
        <!-- <a href="#" class="material-icons search_btn">search</a> -->
        <div class="nav_bar">
            <div class="section_inner"><a href="/" class="nav_link"><span class="material-icons nav_icon">home</span><span>Back to Lisk.io</span></a></div>
        </div>
        <div class="title_holder">
            <div class="section_inner">
                <h1 class="page_title">Lisk Documentation</h1>
                <div class="page_description">{{doc.title}}</div>
            </div>
        </div>
    </div>
    <div class="aside_left_holder">
        <div class="aside_hover_btn material-icons asideHoverBtn"> menu</div>
        <div class="aside_left">
            <div class="logo_holder"><a href="/documentation?i=lisk-docs/README" class="logo">
                <div class="logo_text">Docs</div><img src="i/logo_black.png"/></a></div>
            <div class="aside_m_holder menuHolder">
                <ul class="aside_menu">
                    {{#each menu}}
                        <li class="aside_m_item menuToggleBtn">
                            {{#if i}}
                                <a href="/documentation?i={{i}}" class="aside_link">{{name}}</a></li>
                            {{/if}}
                            {{#if url}}
                                <a href="{{url}}" class="aside_link">{{name}}</a></li>
                            {{/if}}
                        {{#if subitems}}
                            <ul class="aside_menu">
                                {{#each subitems}}
                                    {{#if url}}
                                        <li class="aside_m_item aside_sub"><a href="{{link}}" class="aside_link">{{name}}</a></li>
                                    {{/if}}
                                    {{#if i}}
                                        <li class="aside_m_item aside_sub"><a href="/documentation?i={{i}}" class="aside_link">{{name}}</a></li>
                                    {{/if}}
                                    {{#if subitems}}
                                        <ul class="aside_menu">
                                            {{#each subitems}}
                                                {{#if url}}
                                                    <li class="aside_m_item"><a href="{{url}}" class="aside_link">{{name}}</a></li>
                                                {{/if}}
                                                {{#if i}}
                                                    <li class="aside_m_item"><a href="/documentation?i={{i}}" class="aside_link">{{name}}</a></li>
                                                {{/if}}
                                            {{/each}}
                                        </ul>
                                    {{/if}}
                                {{/each}}
                            </ul>
                        {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</main>
