<main class="wrapper h_420">
    <div class="base">
        <div class="section gray_section">
            <div class="download_section">
                <div class="download_block clearfix">
                    <div class="section_caption text_gray"><img src="i/download/lisk_wallet.png" alt="Lisk Nano" class="lisk_wallet_downloads"></div>
                    <div class="download_info">
                        <p>Lisk Nano enables the user to send and receive transactions on the Lisk network and provides a simple, minimal feature-set. With Lisk Nano, there is no need for blockchain synchronisation as it connects to official Lisk nodes hosted by the Lisk Foundation. For the use of API calls, voting, being a delegate and other advanced features please use Lisk Core.</p>
                    </div>
                    <div class="gallery">
                        <a target="_blank" href="i/download/lisk-nano.png">
                            <img src="i/download/lisk-nano.png" alt="Lisk Wallet">
                        </a>
                    </div>
                    <p class="download_btns"><a href="{{nano_windows}}" class="btn_v2 normal_btn white_btn download_btn" target="_blank"><span class="fa fa-windows dl_os_windows download_btn_text"></span>Windows</a> <a href="{{nano_macos}}" class="btn_v2 wide_btn white_btn download_btn" target="_blank"><span class="fa fa-apple dl_os_mac download_btn_text"></span>macOS</a> <a href="{{nano_linux}}" class="btn_v2 normal_btn white_btn download_btn" target="_blank"><span class="fa fa-linux dl_os_linux download_btn_text"></span>Linux</a></p>
                </div>
            </div>
        </div>
        <div class="section white_section">
            <div class="download_section">
                <div class="download_block clearfix">
                    <div class="section_caption text_gray"><img src="i/download/lisk_core.png" alt="Lisk Nano" class="lisk_wallet_downloads"></div>
                    <div class="download_info">
                        <p>Lisk Core enables delegate forging, provides blockchain synchronisation, and includes the complete API for developers. Please note, installing Lisk Core is for advanced technical users looking to build on top of the Lisk Platform, securing the network infrastructure or attain delegate forging access.</p>
                    </div>         
                    <div class="gallery">
                        <a target="_blank" href="i/download/lisk-core.png">
                            <img src="i/download/lisk-core.png" alt="Lisk Wallet">
                        </a>
                    </div> 
                    <p class="download_btns"><a href="{{documentation}}" class="btn_v2 normal_btn gray_btn download_btn" target="_blank"><span class="fa fa-book dl_os_windows download_btn_text"></span>Installation Instructions</a></p>
                </div>
            </div>
        </div>
        <div class="section gray_section">
            <div class="download_section">
                <div class="download_block clearfix">
                    <div class="section_caption text_gray"><img src="i/download/lisk_tools.png" alt="Lisk Nano" class="lisk_wallet_downloads"></div>
                    <div class="download_info">
                        <p>The Lisk Foundation is developing various tools to supplement the Lisk platform and provide developers dedicated instruments to operate with the network.</p>
                    </div>
                    <ul class="download_list">
                        <!--<li class="download_item">
                            <div class="download_unit">
                                <div class="download_unit_inner">
                                    <div class="download_os"><span class="fa fa-2x fa-terminal"></span><span>Lisky</span></div>
                                    <p>&#8226; Lisk's Command-Line Interface <br>&#8226; Interact with the Core API</p>
                                    <p><a href="{{liskcli}}" class="btn_v2 normal_btn gray_btn" target="_blank">More Info</a></p>
                                </div>
                            </div>
                        </li>-->
                        <li class="download_item">
                            <div class="download_unit">
                                <div class="download_unit_inner">
                                    <div class="download_os"><span class="fa fa-wrench fa-2x"></span><span>Lisk-JS</span></div>
                                    <p>&#8226; Provides an interface to every API call <br>&#8226; Local signing for maximum security</p>
                                    <p><a href="{{liskjs}}" class="btn_v2 normal_btn gray_btn" target="_blank">More Info</a></p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {{> footer }}
    </div>
    <div class="hero_block text_center">
        <div class="abs_container">
            <div class="gl_table_cell">
                <div class="section_inner">
                    <h1 class="hero_title">Lisk software</h1>
                    <div class="hero_text">Discover our newest packages</div>
                </div>
            </div>
        </div>
        {{> menu }}
    </div>
</main>
