<main class="wrapper h_420">
    <div class="base">
        <div class="section white_section">
            <div class="download_section">
                <div class="tips_block heightChecker">
                    <div class="fl heightElement">
                        <div class="mb"><span class="mb fz_18">Latest version released: {{version}}</span></div>
                        <div class="mb what_new_btn"><a href="https://blog.lisk.io/lisk-v0-3-1-release-announcement-44e862406b77" class="btn_v2 fw_600 normal_btn blue_btn" target="_blank">What's new?</a></div>
                    </div>
                    <div class="fr heightElement"><span class="mb"><a href="#" id="oldVersionsBtn" class="gl_link text_blue">Browse old versions</a></span></div>
                </div>
            </div>
        </div>
        <div class="section gray_section">
            <div class="download_section">
                <div class="download_block clearfix">
                    <!--<div class="section_caption text_gray">Soon: Lisk Lite {{version}}</div>
                    <div class="download_info">
                        <p>The lite and web client of Lisk. It connects to other nodes on the Lisk network to make the blockchain download and syncing obsolete. If you want to use API calls or be a delegate, please use the regular Lisk client.</p>
                    </div>
                    <ul class="download_list">
                        <li class="download_item disabled">
                            <div class="download_unit">
                                <div class="download_unit_inner">
                                    <div class="download_os"><span class="fa fa-2x fa-windows dl_os_windows"></span><span>Windows</span></div>
                                    <p>&#8226; No blockchain download <br>&#8226; Instant Access  <br>&#8226; Requires Windows 7 or later</p>
                                    <p><a href="" class="btn_v2 normal_btn gray_btn" target="_blank">Download</a></p>
                                </div>
                            </div>
                        </li>
                        <li class="download_item disabled">
                            <div class="download_unit">
                                <div class="download_unit_inner">
                                    <div class="download_os"><span class="fa fa-apple fa-2x dl_os_mac"></span><span>Mac OS X</span></div>
                                    <p>&#8226; No blockchain download <br>&#8226; Instant Access <br>&#8226; Requires OS X 10.0 or later</p>
                                    <p><a href="" class="btn_v2 normal_btn gray_btn" target="_blank">Download</a></p>
                                </div>
                            </div>
                        </li>
                        <li class="download_item">
                            <div class="download_unit">
                                <div class="download_unit_inner">
                                    <div class="download_os"><span class="fa fa-2x fa-globe dl_os_web_wallet"></span><span>Web Login</span></div>
                                    <p>&#8226; Instant Access right in your browser <br>&#8226; SSL encrypted connection <br>&#8226; Requires JavaScript</p>
                                    <p><a href="https://login.lisk.io/" class="btn_v2 normal_btn gray_btn" target="_blank">Login</a></p>
                                </div>
                            </div>
                        </li>
                    </ul>-->
                    <div class="section_caption text_gray">Lisk {{version}} <img class="alpha_beta" src="i/download/beta.png"></div>
                    <div class="download_info">
                        <p>The full Lisk client for delegates, developers and users alike. Allows delegate forging, provides blockchain download and includes the complete API. <strong>At this moment there are only clients for technical users available. One-click clients will follow in the future.</strong></p>
                    </div>
                    <ul class="download_list">
                        <li class="download_item">
                            <div class="download_unit">
                                <div class="download_unit_inner">
                                    <div class="download_os"><span class="fa fa-2x fa-windows dl_os_windows"></span><span>Windows</span></div>
                                    <p>Please use our Docker Image to install Lisk {{version}} on Windows.</p>
                                    <p><a href="{{docker}}" class="btn_v2 normal_btn gray_btn" target="_blank">Installation Instructions</a></p>
                                </div>
                            </div>
                        </li>
                        <li class="download_item">
                            <div class="download_unit">
                                <div class="download_unit_inner">
                                    <div class="download_os"><span class="fa fa-apple fa-2x dl_os_mac"></span><span>Mac OS X</span></div>
                                    <p>&#8226; Delegate Support <br>&#8226; Blockchain download<br>&#8226; API available</p>
                                    <p><a href="{{macos}}" class="btn_v2 normal_btn gray_btn" target="_blank">Installation Instructions</a></p>
                                </div>
                            </div>
                        </li>
                        <li class="download_item">
                            <div class="download_unit">
                                <div class="download_unit_inner">
                                    <div class="download_os"><span class="fa fa-linux fa-2x dl_os_linux"></span><span>Linux</span></div>
                                    <p>&#8226; Delegate Support <br>&#8226; Blockchain download<br>&#8226; API available</p>
                                    <p><a href="{{linux}}" class="btn_v2 normal_btn gray_btn" target="_blank">Installation Instructions</a></p>
                                </div>
                            </div>
                        </li>
                        <li class="download_item">
                            <div class="download_unit">
                                <div class="download_unit_inner">
                                    <div class="download_os"><span class="fa fa-cubes fa-2x dl_os_docker"></span><span>Docker Image</span></div>
                                    <p>&#8226; For Windows, Mac OS X and Linux <br>&#8226; All functionality included<br>&#8226; In one simple Docker Image</p>
                                    <p><a href="{{docker}}" class="btn_v2 blue_btn download_btn" target="_blank">Installation Instructions</a></p>
                                </div>
                            </div>
                        </li>
                        <li class="download_item">
                            <div class="download_unit">
                                <div class="download_unit_inner">
                                    <div class="download_os"><span class="fa fa-hdd-o fa-2x dl_os_arm"></span><span>ARM v6</span></div>
                                    <p>&#8226; For ARM v6 based computers like: <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#8226; Raspberry Pi Zero<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#8226; Raspberry Pi 1 </p>
                                    <p><a href="{{armv6}}" class="btn_v2 normal_btn gray_btn" target="_blank">Installation Instructions</a></p>
                                </div>
                            </div>
                        </li>
                        <li class="download_item">
                            <div class="download_unit">
                                <div class="download_unit_inner">
                                    <div class="download_os"><span class="fa fa-hdd-o fa-2x dl_os_arm"></span><span>ARM v7</span></div>
                                    <p>&#8226; For ARM v7 based computers like: <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#8226; C.H.I.P.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#8226; Raspberry Pi 2</p>
                                    <p><a href="{{armv7}}" class="btn_v2 normal_btn gray_btn" target="_blank">Installation Instructions</a></p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="section_caption text_gray">Development Tools <img class="alpha_beta" src="i/download/alpha.png"></div>
                    <div class="download_info">
                        <p>Every Node.js and JavaScript developer can create and deploy his own blockchain application in its own sidechain onto the Lisk network.</p>
                    </div>
                    <ul class="download_list">
                        <li class="download_item">
                            <div class="download_unit">
                                <div class="download_unit_inner">
                                    <div class="download_os"><span class="fa fa-2x fa-terminal"></span><span>Lisk CLI</span></div>
                                    <p>&#8226; Lisk Command-Line Interface <br>&#8226; Develop blockchain apps <br>&#8226; Create your own local testnet</p>
                                    <p><a href="{{liskcli}}" class="btn_v2 normal_btn gray_btn" target="_blank">More Info</a></p>
                                </div>
                            </div>
                        </li>
                        <li class="download_item">
                            <div class="download_unit">
                                <div class="download_unit_inner">
                                    <div class="download_os"><span class="fa fa-wrench fa-2x"></span><span>App SDK</span></div>
                                    <p>&#8226; Provides basic app structure <br>&#8226; Used to develop your own app</p>
                                    <p><a href="{{lisksdk}}" class="btn_v2 normal_btn gray_btn" target="_blank">Download</a></p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="section_caption text_gray">Lisk Chat</div>
                    <div class="download_info">
                        <p>You can always contact team and community members on our <a href="https://lisk.chat/" class="gl_link text_blue" target="_blank">Lisk Chat</a>. A self-hosted chat platform setup to help delegates, developers and users.</p>
                    </div>
                    <ul class="download_list">
                        <li class="download_item">
                            <div class="download_unit">
                                <div class="download_unit_inner">
                                    <div class="download_os"><span class="fa fa-2x fa-windows dl_os_windows"></span><span>Windows</span></div>
                                    <p>&#8226; Stand-alone client to access the chat <br>&#8226; Based on Electron</p>
                                    <p><a href="{{liskchat_windows}}" class="btn_v2 normal_btn gray_btn" target="_blank">Download</a></p>
                                </div>
                            </div>
                        </li>
                        <li class="download_item">
                            <div class="download_unit">
                                <div class="download_unit_inner">
                                    <div class="download_os"><span class="fa fa-apple fa-2x dl_os_mac"></span><span>Mac OS X</span></div>
                                    <p>&#8226; Stand-alone client to access the chat <br>&#8226; Based on Electron</p>
                                    <p><a href="{{liskchat_macos}}" class="btn_v2 normal_btn gray_btn" target="_blank">Download</a></p>
                                </div>
                            </div>
                        </li>
                        <li class="download_item">
                            <div class="download_unit">
                                <div class="download_unit_inner">
                                    <div class="download_os"><span class="fa fa-linux fa-2x dl_os_linux"></span><span>Linux</span></div>
                                    <p>&#8226; Stand-alone client to access the chat <br>&#8226; Based on Electron</p>
                                    <p><a href="{{liskchat_linux}}" class="btn_v2 normal_btn gray_btn" target="_blank">Download</a></p>
                                </div>
                            </div>
                        </li>
                        <li class="download_item disabled">
                            <div class="download_unit">
                                <div class="download_unit_inner">
                                    <div class="download_os"><span class="fa fa-code fa-2x"></span><span>Soon: Gitter</span></div>
                                    <p>&#8226; Developer talk <br>&#8226; Core Development <br>&#8226; Frontend Development</p>
                                    <p><a href="{{lisk_chat_linux}}" class="btn_v2 normal_btn gray_btn" target="_blank">Download</a></p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="section_caption text_gray" id="oldVersions">Old versions</div>
                    <div class="download_info">
                        <p>Please don't use any old version in production.</p>
                        <div class="older_clients">
                            <ul>
                                <li><a href="https://blog.lisk.io/lisk-v0-3-0-release-announcement-5c9b00e68eef" target="_blank">Lisk v0.3.0</a></li>
                                <li><a href="https://blog.lisk.io/lisk-v0-2-3-release-announcement-92675c76e9f4" target="_blank">Lisk v0.2.3</a></li>
                                <li><a href="https://blog.lisk.io/lisk-v0-2-2-release-announcement-dc7fd9c55b18" target="_blank">Lisk v0.2.2</a></li>
                                <li><a href="https://blog.lisk.io/lisk-v0-2-1-release-announcement-89945c835849" target="_blank">Lisk v0.2.1</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section white_section">
            <div class="section_inner">
                <div class="section_content clearfix">
                    <div class="download_tips text_center">
                        <div class="block_caption text_center text_gray">Found a bug to report?</div>
                        <p>Help us make Lisk even better.</p>
                        <div class="download_controls"><a href="https://github.com/LiskHQ/lisk/issues" class="btn_v2 fw_600 wide_btn gray_btn" target="_blank">Submit Bug</a></div>
                    </div>
                </div>
            </div>
        </div>
        {{> footer }}
    </div>
    <div class="hero_block text_center">
        <div class="abs_container">
            <div class="gl_table_cell">
                <div class="section_inner">
                    <h1 class="hero_title">Download</h1>
                    <div class="hero_text">Access Lisk from any device!</div>
                </div>
            </div>
        </div>
        {{> menu }}
    </div>
</main>
