<main class="wrapper h_420">
    <div class="base">
        <div class="section white_section">
            <div class="section_inner">
                <div class="section_content text_block clearfix">
                    <ul class="team_list">
                        {{#each members}}
                        <li class="team_unit">
                            <figure class="employee_card">
                                <div class="team_photo" ><img src="i/members/{{pic}}.jpeg" alt="{{name}}"></div>
                                <figcaption class="employee_block">
                                    <div class="employee_info">
                                        <div class="employee_name">{{name}}</div>
                                        <div class="employee_post">{{post}}</div>
                                    </div>
                                    {{#if hired}}<div class="employer_info">Hired by <a href="http://lightcurve.io/" class="gl_link text_blue" target="_blank">lightcurve</a>.</div>{{/if}}
                                    <!--<div class="employee_contacts">{{#if linked}}<a href="{{linked}}" class="employee_contact_link fa fa-linkedin"></a>{{/if}}{{#if twitter}}<a href="{{twitter}}" class="employee_contact_link fa fa-twitter"></a>{{/if}}{{#if btt}}<a href="{{btt}}" class="employee_contact_link fa fa-bitcoin"></a>{{/if}}</div>-->
                                </figcaption>
                            </figure>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        <div class="section gray_section" id="ambassadors">
            <div class="section_inner">
                <div class="section_content text_block">
                    <div class="about_block fz_18">
                        <div class="section_caption text_gray">Country Ambassadors</div>
                        <div class="text_block">
                            <p>The Lisk Foundation sponsors country based ambassadors to help spread awareness of the decentralized blockchain applications platform Lisk. These roles typically include native language translations, community organization and the creation of local meetups. If you are a Lisk enthusiast and would like to be a country ambassador, send a message to <a href="mailto:joel@lisk.io" class="gl_link text_blue" target="_blank">Joel Fernandez</a>.</p>
                        </div>
                        <div class="country_correspondents">
                            {{#each correspondents}}
                            <div class="country_corr_block">
                                <div class="country_corr_country"><span class="country_corr_flag"><img src="i/countries/flags/flag_{{lang}}.png" alt="{{country}} Lisk Ambassadors"></span><span>{{country}}</span></div>
                                <ul class="country_correspondents_list">
                                    <li class="country_corr">
                                        <div class="country_corr_name">{{name}}</div>
                                        <div class="country_corr_info">
                                            <div class="fr">{{#if pm}}<a href="{{pm}}" class="corr_share_link fa fa-envelope fa-blue" target="_blank"></a></div>{{/if}}
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section white_section">
            <div class="section_inner">
                <div class="section_content clearfix ">
                    <div class="partners_block">
                        <div class="section_caption text_center text_gray">Collaborations</div>
                        <ul class="partners_list">
                            {{#each collaborations}}
                            <li class="partners_item"><a href="{{url}}" target="_blank" class="partners_link"><img src="i/partners/{{img}}.png" alt="{{name}}"></a></li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {{> footer }}
    </div>
    <div class="hero_block text_center">
        <div class="abs_container">
            <div class="gl_table_cell">
                <div class="section_inner">
                    <h1 class="hero_title">Meet our team</h1>
                    <div class="hero_text">Contributing to Lisk every day</div>
                </div>
            </div>
        </div>
        {{> menu }}
    </div>
</main>
