<main class="wrapper h_420">
    <div class="base">
        <div class="section white_section_2">
            <div class="section_inner">
                <div class="section_content text_block"><a href="https://twitter.com/intent/tweet?text=Lisk%20has%20an%20awesome%20team%2C%20many%20contributors%20and%20great%20partnerships.%20Check%20it%20out%20on&amp;url=https://lisk.io/team" class="material-icons consensus_btn" target="_blank">share</a>
                    <div class="about_block">
                        <div class="section_caption text_gray">Lisk is the future and we are here to build it</div>
                        <p>The Lisk team truly epitomizes the spirit of open source development and public collaborations. Everyone can help out building Lisk, either by writing tutorials, cutting videos, promoting the platform, supporting the community, being a country ambassador or developing the core. Just get in contact with us!</p>
                        <p class="text_center text_center_mob btns_v1"><a href="https://lisk.chat/" class="btn_v2 wide_btn blue_btn" target="_blank">Join our Chat</a><a href="https://forum.lisk.io" class="btn_v2 wide_btn gray_btn" target="_blank">Our Forum</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section gray_section">
            <div class="section_inner">
                <div class="section_content clearfix">
                    <div class="section_caption text_gray text_center">Meet the Team behind Lisk</div>
                    <!-- <div class="slider_prev material-icons">chevron_left</div>
                    <div class="slider_next material-icons">chevron_right</div> -->
                    <div class="team_slider teamSlider">
                        <div class="team_slide">
                            <div class="team_slide_img"><img src="i/members/max_kordek.jpeg"></div>
                            <div class="team_slide_info">
                                <div class="team_slide_name">Max Kordek <a target="_blank" href="https://de.linkedin.com/in/maxkordek" class="team_share_link fa fa-linkedin"></a><a target="_blank" href="https://twitter.com/MaxKordek" class="team_share_link fa fa-twitter"></a></div>
                                <div class="team_slide_post">CHIEF EXECUTIVE OFFICER &middot; FOUNDER</div>
                                <p>Max journey into the crypto-currency realm began with Litecoin, and continued with Nxt where he was the CEO of the Nxt Organization and managed the official Nxt web presence. After that he joined Crypti and helped building it out into what it is today. He is also the chairman of Bitcoin Aachen, his local university group. His next goal is to make Lisk the leading dapp and custom blockchain platform for JavaScript developers in the world.</p>
                            </div>
                        </div>
                        <div class="team_slide">
                            <div class="team_slide_img"><img src="i/members/oliver_beddows.jpeg"></div>
                            <div class="team_slide_info">
                                <div class="team_slide_name">Oliver Beddows <a target="_blank" href="https://www.linkedin.com/in/oliver-beddows-19aa09107" class="team_share_link fa fa-linkedin"></a><a target="_blank" href="https://twitter.com/Karmacrypto" class="team_share_link fa fa-twitter"></a></div>
                                <div class="team_slide_post">CHIEF TECHNOLOGY OFFICER &middot; FOUNDER</div>
                                <p>Oliver is a full stack developer with over 15 years experience in developing web based e-commerce applications. He joined Crypti (Lisk's predecessor) in early 2015 as a tools developer, and went on to build tools such as the CryptiChain Blockchain Explorer and CryptiKit, a node deployment and management tool. He is a husband, father, amateur time-trialist, open-source advocate, and works tirelessly to build a better future for Lisk everyday.</p>
                            </div>
                        </div>
                        <div class="team_slide">
                            <div class="team_slide_img"><img src="i/members/joel_fernandez.jpeg"></div>
                            <div class="team_slide_info">
                                <div class="team_slide_name">Joel Fernández <a target="_blank" href="https://www.linkedin.com/in/joel-fernández-92669359" class="team_share_link fa fa-linkedin"></a><a target="_blank" href="https://twitter.com/Bigcabrito" class="team_share_link fa fa-twitter"></a></div>
                                <div class="team_slide_post">COMMUNITY MANAGER</div>
                                <p>Joel is a blockchain technology enthusiast, research scientist and aspiring programmer. He spent the last five years avidly researching the radical innovations of crypto-currencies and their role in reducing centralized inefficiencies. As the community manager he will serve as the link between the community and the developers while managing content creation, media marketing and customer relations. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section white_section">
            <div class="section_inner">
                <div class="section_content clearfix">
                    <div class="section_caption text_gray text_center">Advisers</div>
                    <ul class="team_list text_center">
                        {{#each adviser}}
                        <li class="team_unit text_center">
                            <figure class="employee_card">
                                <div class="team_photo"><img src="i/members/{{img}}.jpeg" alt="{{name}}"></div>
                                <figcaption class="employee_block">
                                    <div class="employee_info">
                                        <div class="employee_name">{{name}}</div>
                                        <div class="employee_post"><strong>{{company}}</strong></div>
                                        <div class="employee_post"><br>{{description}}</div>
                                    </div>
                                    <div class="employee_contacts">{{#if linked}}<a href="{{linked}}" target="_blank" class="employee_contact_link fa fa-linkedin"></a>{{/if}}{{#if twitter}}<a href="{{twitter}}" target="_blank" class="employee_contact_link fa fa-twitter"></a>{{/if}}{{#if btt}}<a href="{{btt}}" target="_blank" class="employee_contact_link fa fa-bitcoin"></a>{{/if}}</div>
                                </figcaption>
                            </figure>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        <div class="section gray_section">
            <div class="section_inner">
                <div class="section_content text_block">
                    <div class="about_block fz_18">
                        <div class="section_caption text_gray">Country Ambassadors</div>
                        <div class="text_block">
                            <p>Lisk is building up a team of <a href="https://blog.lisk.io/lisk-country-ambassadors-initiative-6fccbcabcb15" class="gl_link text_blue" target="_blank">country based ambassadors</a> to help spread the word about the power of the Lisk network. These roles typically include translations of relevant content, community organization, and the creation of small meetup groups. If you love Lisk and would like to be an ambassador for Lisk in your Country, please send a message to Max Kordek. Please note that the country ambassadors are often not the Bitcointalk thread starters, please don't confuse them.</p>
                        </div>
                        <div class="country_correspondents">
                            {{#each correspondents}}
                            <div class="country_corr_block">
                                <div class="country_corr_country"><span class="country_corr_flag"><img src="i/countries/flags/flag_{{lang}}.png" alt="{{country}} Lisk Ambassadors"></span><span>{{country}}</span></div>
                                <ul class="country_correspondents_list">
                                    <li class="country_corr">
                                        <div class="country_corr_name">{{name}}</div>
                                        <div class="country_corr_info">
                                            <div class="fl">
                                                <div class="country_corr_share">{{#if btt}}<a href="{{btt}}" class="corr_share_link fa fa-bitcoin" target="_blank"></a>{{/if}}{{#if facebook}}<a href="{{facebook}}" class="corr_share_link fa fa-facebook" target="_blank"></a>{{/if}}{{#if twitter}}<a href="{{twitter}}" class="corr_share_link fa fa-twitter" target="_blank"></a>{{/if}}</div>
                                            </div>
                                            {{#if pm}}<div class="fr">{{#if linked}}<a href="{{linked}}" class="corr_share_link fa fa-linkedin" target="_blank"></a>{{/if}}<a href="{{pm}}" class="corr_share_link fa fa-envelope fa-blue" target="_blank"></a></div>{{/if}}
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section white_section">
            <div class="section_inner">
                <div class="section_content text_block">
                    <div class="about_block">
                        <div class="section_caption text_gray">From Crypti to Lisk</div>
                        <p>In June 16th, 2014 it all began with Crypti and the Crypti Foundation. A founding team of 5 members set themselves the goal to develop a great cryptocurrency platform for decentralized applications and sidechains, they collected 750 BTC in their ICO and developed the platform for over one year. Max and Oliver were early members of the team and foundation. At the turn of the year 2016 ideologies were drifting apart and we decided to make our own platform called Lisk. It is being developed in a complete open source and public manner, and in collaboration with the Lisk community.</p>
                        <p class="text_center_mob btns_v1"><a href="https://crypti.me/" class="btn_v2 wide_btn gray_btn" target="_blank">Crypti Website</a></p>
                    </div>
                </div>
            </div>
        </div>
        {{> footer }}
    </div>
    <div class="hero_block text_center">
        <div class="abs_container">
            <div class="gl_table_cell">
                <div class="section_inner">
                    <h1 class="hero_title">The Team</h1>
                    <div class="hero_text">Building Lisk since 2016</div>
                </div>
            </div>
        </div>
        {{> menu }}
    </div>
</main>
